<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px;">
            <h1 style="font-size: 36px; color: #333;">Welcome to <%= title %> Page</h1>
            <div class="section">
                <h2>About Me</h2>
              
                <p>My name is <strong>Sunil Bhele</strong>. I am a <strong>Software Engineering Technician</strong> student at <strong>Centennial College</strong>. I am a <strong>Web Developer</strong> and <strong>Programmer</strong>. I am currently learning <strong>Java</strong> and <strong>C#</strong> programming languages. I am also learning <strong>Frontend</strong> and <strong>Backend</strong> Web Development. I am aspiring to become a great <strong>Software Programmer</strong>.</p>
            </div>

            <div class="container">
                <div class="text-center mt-5">
                  <a href="/img/Sunil Bhele resume - Security Guard.pdf" class="btn btn-primary" download>Download Resume</a>
                </div>
              </div>
            
            <div class="section">
                <h2>Interests</h2>
                <p>I am intrested in watching soccer, movies and web series as well as listining to music. Some of my Favourites are:</p>
                <ol>
                    <li>Queen Band.</li>
                    <li>Avengers Series.</li>
                    <li>One Piece Anime.</li>
                    <li>Attack on Titan Anime.</li>
                    <li>Death Note Anime.</li>
                    <li>Code Geass Anime.</li>
                    <li>Shutter Island movie</li>
                    <li>The Legend of Soccer</li>
                    <li>Selfie</li>
                    <li>Breaking Bad Web Series</li>
                    <li>National Geography</li>
                    <li>Game of Thrones Web Series</li>

                </ol>
            </div>
            <div class="section">
                <h2>Volunteer Work</h2>
                <ol>
                    <li>I have volunterred as a child summer camp instructor in soccer.</li>
                    <li>I have volunterred at a old age care center and working as a Personal Support Worker in UHN.</li>
                </ol>
            </div>
            
            <div class="section">
                <h2>Accomplishments</h2>
                <ol>
                    <li>Participated in old age care and provide them service and support them in thie daily task.</li>
                    <li>Participated in Nepales in Scarborough Soccer Training and train soccer to the kids.</li>
                    <li>Participate in Business Management and in Insurance Training</li>
                </ol>
            </div>
            <div class="section">
                <h2>Personal Information</h2>
                <h4>Name: Sunil Bhele</h4>
                <h4>Age: 26</h4>
                <h4>Address: Moon</h4>
                <h4>Phone: 0123456789</h4>
                <h4>Email: sunilbhele12@gmail.com</h4>
            </div>
            <div class="section">
                <h2>Personal Statement</h2>
                <p>If you wanna be a good friends, come and hang with me i will never let you go.</p>
            </div>
            <div class="section">
                <h2>Goals</h2>
                <p>Want to become businessman so, Still looking to do something. Hoping to met it out sooon.</p>
            </div>
        </div>

       
            <div class="section">
                <h2>Experience</h2>
                <ol>
                    <li>Working as Personal Support Worker in UHN</li>
                    <li>Trading stocks and crypto</li>
                    <li>Line cook in A and W.</li>
                    <li>Prep Cook at SantaGuida Finefoods</li>
                    <li>Customer service at Rogers.</li>
                </ol>
            </div>
        </div>
    </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   